<h1>Villains</h1>

<%= paginate @villains %>

<% @villains.each do |villain| %>
  <div>
    <p>Name: <%= link_to villain.name, villain_path(villain) %></p>
    <p>Gender: <%= villain.gender %></p>
    <p>Status: <%= villain.status %></p>
  </div>
<% end %>

