<h1>Books</h1>

<%= paginate @books %>

<% @books.each do |book| %>
  <div>
    <p>Title: <%= link_to book.title, book_path(book) %></p>
    <p>Year: <%= book.year %></p>
    <p>Pages: <%= book.pages %></p>
  </div>
<% end %>

